<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label='Voltar Admin' (onClick)="voltarAdmin()"></p-button>

    <p-button label='Voltar' (onClick)="voltar()"></p-button>
  </div>
  <div class="p-toolbar-group-right">
    <span class="user-info">OPERADOR: <strong>{{ 'Fulano123' }}</strong></span>
  </div>
</p-toolbar>

<p-table [value]="vendas"
         [paginator]="true"
         [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Codigo</th>
      <th>Usuario</th>
      <th>Data</th>
      <th>Total</th>
      <th>Quantidade</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-venda>
    <tr>
      <td>{{ venda.codigo }}</td>
      <td>{{ venda.usuario }}</td>
      <td>{{ venda.data }}</td>
      <td>{{ venda.total }}</td>
      <td>{{ venda.quantidade }}</td>
    </tr>
  </ng-template>
</p-table>
