<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button *ngIf="usuarioLogado?.perfil === 'ADMIN'" label='Voltar' (click)="voltarAdmin()"></p-button>
    <p-button *ngIf="usuarioLogado?.perfil === 'OPERADOR'" label='Voltar' (click)="voltar()"></p-button>
  </div>
</p-toolbar>

<p-table [value]="vendas"
         [paginator]="true"
         [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Codigo</th>
      <th>Usuario</th>
      <th>Data</th>
      <th>Total</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-venda>
    <tr>
      <td>{{ venda.codigo }}</td>
      <td>{{ venda.usuario }}</td>
      <td>{{ venda.data }}</td>
      <td>{{ venda.total }}</td>
    </tr>
  </ng-template>
</p-table>
